//font weight

.is-bold{
    font-weight: 700;
}

.is-semi-bold{
    font-weight: 600;
}

//font size

.is-font-s{
    font-size: 1.8rem;
}

.is-font-m{
    font-size: 2.4rem;
}

.is-font-l{
    font-size: 3.6rem;
}

