//font weight

.is-bold{
    font-weight: 700;
}

.is-semi-bold{
    font-weight: 600;
}

//font size

.is-font-s{
    font-size: $font-size-s;
}

.is-font-m{
    font-size: $font-size-m;
}

.is-font-l{
    font-size: $font-size-l;
}

