.container{
    padding-top: 3rem;
    margin-left: auto;
    margin-right: auto;
    padding-left: 3rem;
    padding-right: 3rem;
    max-width: 96rem;
    position: relative;
}

.flex-left{
    display: flex;
    justify-content: flex-start;
}

.flex-right{
    display: flex;
    justify-content: flex-end;
}

.flex-center{
    display: flex;
    justify-content: center;
}