//small
%shape {
    background-color: $color-l;
    width: 100%;
    position: absolute;
    //clip-path: polygon( 0 0, 0 40rem, 5vw 93rem, 0 140rem, 0 180rem, 5vw 250rem, 100vw 250rem, 100vw 230rem, 85vw 180rem, 100vw 93rem, 100vw 40rem, 85vw 0);
    //clip-path: polygon(0 0, 10vw 50%, 0 100%, 100% 100%, 90vw 50%, 100% 0);
    clip-path: polygon(-5vw 0, 5vw 50%, -5vw 100%, 95vw 100%, 105vw 50%, 95vw 0);
    z-index: 0;
}

.shape-s {
    @extend %shape;
    padding-top: 130rem;
}

.shape-m {
    @extend %shape;
    padding-top: 230rem;
}

.shape-l{
    @extend %shape;
    padding-top: 250rem;
}

%shape-shadow {
    background-color: rgba(0, 0, 0, 0.25);
    width: 100%;
    margin-top: 5rem;
    position: absolute;
    z-index: -1;
}

.shape-shadow-s {
    @extend %shape-shadow;
    padding-top: 125rem;
    //clip-path: polygon( 0 0, 0 40rem, 15vw 93rem, 0 140rem, 0 180rem, 15vw 250rem, 100vw 250rem, 100vw 230rem, 85vw 180rem, 100vw 93rem, 100vw 40rem, 85vw 0);
}

.shape-shadow-m {
    @extend %shape-shadow;
    padding-top: 225rem;
    //clip-path: polygon( 0 0, 0 40rem, 15vw 93rem, 0 140rem, 0 180rem, 15vw 250rem, 100vw 250rem, 100vw 230rem, 85vw 180rem, 100vw 93rem, 100vw 40rem, 85vw 0);
}

//large
@media (min-width: 480px) {
    .shape-s {
        padding-top: 120rem;
        //clip-path: polygon( 0 0, 0 40rem, 15vw 93rem, 0 140rem, 0 100%, 90vw 100%, 85vw 170rem, 100vw 93rem, 100vw 40rem, 85vw 0);
    }
    .shape-shadow-s {
        padding-top: 115rem;
        //clip-path: polygon( 0 0, 0 40rem, 15vw 93rem, 0 140rem, 0 180rem, 15vw 250rem, 100vw 250rem, 100vw 230rem, 85vw 180rem, 100vw 93rem, 100vw 40rem, 85vw 0);
    }
    .shape-m {
        padding-top: 155rem;
        //clip-path: polygon( 0 0, 0 40rem, 15vw 93rem, 0 140rem, 0 100%, 90vw 100%, 85vw 170rem, 100vw 93rem, 100vw 40rem, 85vw 0);
    }
    .shape-shadow-m {
        padding-top: 150rem;
        //clip-path: polygon( 0 0, 0 40rem, 15vw 93rem, 0 140rem, 0 180rem, 15vw 250rem, 100vw 250rem, 100vw 230rem, 85vw 180rem, 100vw 93rem, 100vw 40rem, 85vw 0);
    }
}