*{
    margin: 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: $color-d;
}

html{
    font-size: 10px;
    font-family: 'Josefin Sans', Arial, sans-serif;
    color: $color-d;
}

body{
    background-color: $color-d;
    height: 100vh;
}

p{
    margin-bottom: 1.5rem;
}