.portfolio-item-container{
    display: flex;
    justify-content: center;
    //for testing
    border: solid 3px $color-md;
    padding-top: 3rem;
}

.portfolio-header{
    justify-content: center;
}

.portfolio-title-text{  
    padding-top: 15rem;
    text-align: center;
    position: relative;
    z-index: 2;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15rem;
}

.portfolio-title-text > h1{
    background-color: $color-ml;
    padding: 1rem;
    box-shadow: 0 .5rem .25rem rgba(0,0,0,0.5);
    margin-bottom: 2rem;
    font-size: 5rem;
}

.portfolio-title-text > h4{
    font-size: 2.5rem;
}

.portfolio-portrait-frame{
    position: absolute;
    background-color: $color-md;
    padding: .5rem;
    clip-path: polygon(0 0, 90% 0, 100% 80%, 10% 80%);
    z-index: 1;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.portfolio-portrait{
    clip-path: polygon(0 0, 90% 0, 100% 80%, 10% 80%);
}

@media (min-width: 700px){
    .portfolio-title-text > h1{
        font-size: 6rem;
        display: block;
    }

    .portfolio-title-text{  
        padding-top: 15rem;
        text-align: right;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }

    .portfolio-portrait-frame{
        display: flex;
    }
}