.flex-align-right{
    justify-content: flex-end;
}

.row-flex{
    display: flex;
}

.intro-header-pt1{
    //font-size: 3.6rem;
    margin-top: 3rem;
    transition-delay: 2s;
    animation-name: intro1;
    animation-duration: 2s;
    animation-delay: .75s;
    animation-fill-mode: backwards;
}

.intro-header-pt2{
    margin-top: 1.5rem;
    padding-bottom: 1.5rem;
    //font-size: 4.8rem;
    animation-name: intro2;
    animation-duration: 4s;
    animation-delay: 3s;
    animation-fill-mode: both;
}

.intro-bio{
    margin-top: 4rem;
    animation-name: bio;
    animation-duration: 2s;
    animation-delay: 6s;
    animation-fill-mode: backwards;
}
