.flex-align-right{
    justify-content: flex-end;
}

.row-flex{
    display: flex;
}

.me-block1{
    margin-top: 15rem;
    min-height: 25vh;
    min-width: 2.5rem;
    display: flex;
}

.me-block2{
    margin-top: 2rem;
    margin-left: 40%;
    //border: solid .5rem $color-md;
    font-size: $font-size-m;
    width: 75%;
    max-width: 65rem;
}

.intro-header-pt1{
    font-size: 3.6rem;
    margin-top: 3rem;
    transition-delay: 2s;
    animation-name: intro1;
    animation-duration: 2s;
    animation-delay: .75s;
    animation-fill-mode: backwards;
}

.intro-header-pt2{
    margin-top: 1.5rem;
    padding-bottom: 1.5rem;
    font-size: 4.8rem;
    animation-name: intro2;
    animation-duration: 4s;
    animation-delay: 3s;
    animation-fill-mode: both;
}

