%image-mod{
    width: auto;
    border: solid .5rem $color-md;
    box-shadow: 0 .5rem .5rem .25rem rgba(0,0,0,0.3);
    transition: .5s all;
}

.image-scale-thumbnail{
    @extend %image-mod;
    height: 20rem;
}

.image-scale-thumbnail:hover{
    height: 21rem;
    margin-top: -.5rem;
}

.image-scale-small{
    @extend %image-mod;
    height: 30rem;
}

.image-scale-small:hover{
    transition: .5s all;
    height: 31rem;
    margin-top: -.5rem;
}

.image-scale-wide{
    @extend %image-mod;
    height: 9rem;
}

.image-scale-wide:hover{
    @extend %image-mod;
    margin-top: -.5rem;
    height: 10rem;
}

//large
@media (min-width: 480px){

}

@media (min-width: 700px){
    .image-scale-wide{
        height: 15rem;
    }
    .image-scale-wide:hover{
        height: 16rem;
    }
}