.nav-list-container{
    list-style: none;
    margin-bottom: 8rem;
    align-items: center;
    justify-content: space-between;
    display: flex;
}

.nav-list-item{
    display: none;
}

.nav-list-item.nav-list-title{
    font-weight: 700;
    padding: 1rem;
    padding-right: 2rem;
    padding-left: 0rem;
    margin-left: 0rem;
    border: none;
    display: list-item !important;
}

.nav-list-item.nav-list-link{
    box-shadow: inset 0 -.1rem $color-md;
}

.nav-list-link:hover{
    transition: color .1s, box-shadow .5s ease-out;
    color: $color-l;
    box-shadow: inset 0rem -10rem $color-md;
}

.nav-mobile-button{
    display: list-item;
    padding: 1rem;
    font-size: $font-size-m;
    background-color: $color-md;
    color: $color-l;
    box-shadow: 0 .5rem .5rem rgba(0,0,0,0.5);
}

.mobile-menu{
    position: absolute;
    display: flex;
}

@media (min-width: 700px){
    .nav-list-container{
        justify-content: flex-start;
    }
    .nav-list-item{
        padding: .5rem;
        text-align: center;
        margin-left: 2rem;
        margin-bottom: 1rem;
        display: list-item;
    }
    .nav-mobile-button{
        display: none !important;
    }
}