.portfolio-overlay{
    background-color: rgba(0,0,0,.5);
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

.portfolio-overlay-x{
    font-size: $font-size-l;
    color: $color-ml;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    margin-bottom: 1rem;
    //margin-left: 105%;
}

.picture-frame-overlay{
    max-height: 80vh;
}

@media (min-width: 700px){
    .portfolio-overlay{
        display: none;
    }
}