.design-box{
    display: flex;
    //border: solid .25rem $color-md;
    min-height: 25rem;
    min-width: 40rem;
    margin-bottom: 6rem;
    padding: 1rem;
    align-items: center;
}

.picture-frame{
    display: flex;
    background-color: $color-md;
    border: solid .75rem $color-md;
    margin-right: 2rem;
    //padding: 1rem;
    align-items: center;
    justify-content: center;
    box-shadow: 0 .5rem .5rem .25rem rgba(0,0,0,0.3);
    height: 10rem;
}

.portfolio-text-box{
    display: flex;
    align-items: center;
    min-width: 50%;
    //padding: 2rem 0;
}

.portfolio-item-title{
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    box-shadow: inset 0 -.25rem $color-md;
}

@media (min-width: 480px){
    .picture-frame{
        display: flex;
        //background-color: $color-md;
        border: solid .75rem $color-md;
        margin-right: 2rem;
        align-items: center;
        justify-content: center;
        box-shadow: 0 .5rem .5rem .25rem rgba(0,0,0,0.3);
        height: 20rem;
    }
}