.design-box{
    display: flex;
    min-height: 25rem;
    min-width: 40rem;
    margin-top: 5rem;
    margin-bottom: 5rem;
    padding: 1rem;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.picture-frame{
    display: flex;
    margin-right: 2rem;
    margin-bottom: 3rem;
    justify-content: center;
}

.picture-frame-overlay{
    max-height: 80vh;
}

.portfolio-overlay-x{
    font-size: $font-size-l;
    color: $color-l;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
    margin-bottom: 1rem;
    margin-right: 25%;
}

.portfolio-text-box{
    display: flex;
    align-items: center;
    text-align: center;
    flex-wrap: nowrap;
    min-width: 30%;
    max-width: 60%;
}

.portfolio-item-title{
    margin-bottom: 2rem;
    padding-bottom: 1rem;
    box-shadow: inset 0 -.25rem $color-md;
    transition: .5s all;
}

.portfolio-item-title:hover{
    transition: .25s all;
    color: $color-m;
}

.portfolio-overlay{
    background-color: rgba(0,0,0,.5);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
}

@media (min-width: 480px){
    .design-box{
        margin-bottom: 1.5rem;
        margin-top: 1.5rem;
    }

    .picture-frame{
        margin-bottom: 3rem;
    }

    .portfolio-text-box{
        max-width: 30%;
    }
}

@media (min-width: 700px){
    .portfolio-text-box{
        max-width: 30%;
        text-align: left;
    }
}